/* barlow-regular - latin */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
         url('../fonts/barlow-v11-latin-regular.woff2') format('woff2'),
         url('../fonts/barlow-v11-latin-regular.woff') format('woff');
  }
  /* barlow-700 - latin */
  @font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(''),
         url('../fonts/barlow-v11-latin-700.woff2') format('woff2'),
         url('../fonts/barlow-v11-latin-700.woff') format('woff');
  }

  /* fraunces-900 - latin */
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local(''),
         url('../fonts/fraunces-v10-latin-900.woff2') format('woff2'),
         url('../fonts/fraunces-v10-latin-900.woff') format('woff');
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow' 'sans-serif';
}

.container {
    max-width: 1320px;
    padding: 0 1.25rem; /* 2) 20 / 16 = 1.25rem */
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fraunces';
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* HEADER START  */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.75rem; /* 44/16=2.75rem */
    margin-bottom: 2.81rem; /* 45/16=2.81rem */
}

.header__navbar-list {
    display: flex;
    align-items: center;
}

.header__navbar-link {
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 0.93rem;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    margin-left: 2rem;
    transition: 0.2s ease;
}

.header__navbar-link:hover {
    color: pink;
}

.header__navbar-link:active {
    opacity: 0.7;
}
/* HEADER END  */


/* INTRO START  */

.intro {
    background-image: url(../images/intro-bg-img.png);
    background-repeat: no-repeat;
    width: 1280px;
    padding-left: 86px;
    padding-top: 134px;
    padding-bottom: 134px;
    margin-bottom: 164px;
}

.intro__content-title {
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
    font-weight: 900;
    margin: 0;
    margin-bottom: 2rem;
}

.intro__content-text {
    font-size: 1rem;
    line-height: 1.62rem;
    color: #FEFCF7;
    width: 445px;
    font-weight: 400;
}
/* INTRO END  */


/* PICK START  */

.pick {
    background: #2C343E;
    border-radius: 10px;
    width: 1280px;
    padding-top: 5.68rem;
    padding-bottom: 6.68rem;
    padding-left: 5.3rem;
    margin-bottom: 9.93rem;
}

.pick__content-img {
    margin-bottom: 4.18rem;
}

.pick__stage {
    display: flex;
}

.pick__list {
    margin-right: 5.93rem;
}

.pick__item-number {
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 4.5rem;
    color: #FDD6BA;
    margin-bottom: 2.3rem;
}

.pick__item-title {
    font-weight: 900;
    font-size: 2rem;
    line-height: 2.25rem;
    color: #FEFCF7;
    margin-bottom: 2.6rem;
}

.pick__item-text {
    font-size: 1rem;
    line-height: 1.6rem;
    color: #FEFCF7;
    width: 285px;
    font-weight: 400;
}
/* PICK END  */


/* DRINK START  */

.drink {
    display: flex;
    margin-bottom: 168px;
}

.drink__left {
    margin-right: 125px;
}

.drink-container {
    max-width: 1130px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.drink__left-title {
    margin: 0;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
    font-weight: 900;
    margin-bottom: 49px;
    transition: 0.2s ease;
}

.drink__left-title:hover {
    opacity: 0.6;
    cursor: pointer;
}

.drink__left-title:active {
    opacity: 0.4;
}

.drink__title-number {
    margin-right: 28.5px;
}

.drink__title-number--active {
    color: #0E8784;

}

.drink__title-line {
    margin: 0;
    margin-top: 24px;
    border-bottom: 1px solid #83888F;
    width: 255px;
    opacity: 0.25;
}

.drink__right-wrapper {
    display: flex;
    flex-direction: column;
}

.drink__right {
    margin-bottom: 88px;
}

.drink__right-title {
    font-size: 40px;
    line-height: 48px;
    color: #83888F;
    position: relative;
    font-weight: 900;
    margin-bottom: 56px;
}

.drink__right-title::after {
    content: '';
    width: 18px;
    height: 12px;
    background-image: url(../images/drink-arrow-img.svg);
    position: absolute;
    margin-left: 76px;
    top: 40%;
}

.drink__right-cards {
    display: flex;
}

.drink__right-list {
    background: #F4F1EB;
    border-radius: 8px;
    width: 228px;
    padding: 32px 28px 84px 28px;
    margin-right: 23px;
    transition: 0.3s ease;
}

.drink__right-list:hover {
    background: #0E8784;
    transform: scale(1.1);
    cursor: pointer;
}

.drink__right-list:hover .drink__card-title {
    color: white;
}

.drink__right-list:hover .drink__card-text {
    color: white;
}

.drink__right-list:active {
    background: #FDD6BA;
}

.drink__right-list:active .drink__card-title {
    color: black;
}

.drink__right-list:active .drink__card-text {
    color: black;
}

.drink__card-title {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
    margin-bottom: 24px;
}

.drink__card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    width: 172px;
}


.drink__right-order {
    background: #2C343E;
    width: 730px;
    padding: 27px 64px;
    margin-top: -4px;
    margin-bottom: 40px;
}

.drink__order-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.5;
    margin-bottom: 8px;
}

.drink__order-title {
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF;
}

.drink__order-title-spans {
    color: #0E8784;
}

.green-link {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    background: #0E8784;
    border-radius: 6px;
    padding: 15px 35px;
    font-weight: 900;
    transition: 0.2s ease;
    width: 217px;
    margin-left: auto;
    margin-right: 24px;
}

.green-link:hover {
    background: #66D2CF;
    cursor: pointer;
}
/* DRINK END  */


/* FOOTER START  */

.footer {
    display: flex;
    align-items: center;
    background: #2C343E;
    padding: 47px 85px;
    margin-bottom: 88px;
}

.footer__logo {
    margin-right: 103px;
}

.footer__list {
    display: flex;
    align-items: center;
}

.footer__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    margin-right: 33px;
    transition: 0.2s ease;
}

.footer__link:hover {
    color: pink;
}

.footer__link:active {
    opacity: 0.5;
}

.footer__icons {
    margin-left: auto;
}

.footer__icon {
    margin-left: 24px;
}

/* FOOTER END  */